
<div class="card">
    {{#each this}}
    <h2 class="card-header"></h2>
        <div class="text">
    {{commentText}}
    <span>
    -{{user.name}},{{ format_date date_created}}
    </span>
    </div>
    
<br/>
 {{/each}}
</div>

