<h2> 
    Create New Post
</h2>
<form  class="form login-form">
  <label for="title" style="width: 100px;height:40px;">Title</label><br>
  <input type="text" id="title" ><br>
  <label for="content">content:</label><br>
  <input type="text" id="content" style="width: 500px;height: 80px;" ><br><br>
  <input type="submit" value="Create">
</form> 

<script src="/js/addPost.js"></script>